\.vs/trabalho-2019/v16/*
\.vs/trabalho-2019/Debug/*
\.vs/trabalho-2019/v16/\.suo

\.vs/trabalho-2019/v16/Browse\.VC\.db

\.vs/trabalho-2019/v16/Browse\.VC\.opendb

\.vs/trabalho-2019/v16/ipch/AutoPCH/f96ba2ad0c966ee5/ARVORE\.ipch

\.vs/

Debug/
